@import url('https://fonts.googleapis.com/css?family=Poppins');

*{
    margin: 0;
    padding: 0;
}
    
body{
    font-family: 'Poppins';
    text-align: center;
    
}
.wrapper{
    width: 90%;
    margin: 0 auto;
}
header{
    width: 100%;
    height: 80px;
    background: #fff;
    position: relative;
}

.logo{
    width: 17%;
    float: left;
    text-align: left;
    line-height: 80px;
}
.logo a{
    text-decoration: none;
    font-size: 10px;
    font-family: 'Poppins';
    font-weight: 400;
    vertical-align: middle;
}

.logo img{
    vertical-align: middle;
}


.leftNav{
    line-height: 80px;
}

.leftNav a{
    text-decoration: none;
    text-align: left;
    font-family: 'Poppins';
    font-size: 20px;
    color: #000;
    padding: 0px 10px;
    margin: 0 1px;
    font-weight: 50;
    float: left;
    vertical-align: middle;
}

.leftNav a:hover{
    background-color: #0076BE;
    color: #fff;
}

.dropbtn {
    padding: 0px;
    font-size: 16px;
    border: none;
}

.dropbtn:hover {
    background-color: #0076BE;
}


.dropdown-content {
    background-color: #0076BE;
    transform: translateX(-10px);
    display: none;
    position: absolute;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    padding: 0px 20px;
    text-decoration: none;
    display: block;
    color: #fff;
}

.dropdown-content a:hover {
    width: 89%;
    background-color: #005C95;
}

.dropbtn:hover .dropdown-content {display: block;}

.dropbtn:hover {
    background-color: #0076BE;
    color:#fff;
}


.rightNav{
    line-height: 80px;
}

.signUp {
    float: right;
    vertical-align: middle;
    margin-top: 23px;
    background-color: #0076BE;
    color: #fff;
    height: 35px;
    border: none;
    width: 10%;
    border-radius: 25px;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.219);
    margin-left: 10px;
    font-weight:bold;
    font-size: 15px;
}

.signUp:hover{
    background-color: #005C95;
}

.rightNav a{
    text-decoration: none;
    text-align: right;
    font-family: 'Poppins';
    font-size: 20px;
    color: #000;
    padding: 0px 10px;
    margin: 0 1px;
    font-weight: 50;
    float: right;
    vertical-align: middle;
}

.rightNav a:hover{
    text-decoration: underline;
}

.hamburger {
    vertical-align: middle;
    text-align: right;
}

.banner{
    background-image: url(./images/Screen\ Shot\ 2022-05-22\ at\ 9.09.01\ PM.jpg);
    background-size: cover;
    background-position: center center;
    height: 80vh;
    width: 100%;
    position:relative;

}


.bannerCard{
    background-color: #fff;
    top: 100px;
    height: 40vh;
    width: 35%;
    position: relative;
    margin-left: 150px;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.bannerCard h2{
    padding-top: 25px;
    font-size: 30px;
    color:#000;
    text-align:center;
    padding-left: 25px;
    padding-right: 25px;
    font-weight: 70;
}

.bannerCard p{
    padding-top: 40px;
    font-size: 20px;
    color:#000;
    text-align:center;
    padding-left: 25px;
    padding-right: 25px;
}

.search{
    padding-top: 2%;
}
.search input{
    width: 50%;
    height: 35px;
    border: none;
}

.search button{
    background-color: #1010a4;
    color: white;
    height: 35px;
    border: none;
    width: 10%;
}

.search button:hover{
    text-decoration: underline;
}

.contents {
    width: 100%;
    height:400px;
    position: relative;
    background: #f4f7fd;
}

.servicesCard{
    background-color: #fff;
    top: 0px;
    height: 50vh;
    width: 80%;
    position: relative;
    margin: auto ;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.servicesCard h2{
    padding-top: 25px;
    font-size: 30px;
    color:#000;
    text-align:center;
    padding-left: 25px;
    padding-right: 25px;
    font-weight: 70;
}



.contents2 {
    background-image: url(./images/Screen\ Shot\ 2022-05-22\ at\ 10.40.10\ PM.jpg);
    background-size: cover;
    background-position: center center;
    height: 60vh;
    width: 100%;
    position:relative;
}

.customersCard{
    float: right;
    background-color: #fff;
    top: 50px;
    height: 40vh;
    width: 35%;
    position: relative;
    margin-right: 150px;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.customersCard h2{
    padding-top: 25px;
    font-size: 30px;
    color:#000;
    text-align:center;
    padding-left: 25px;
    padding-right: 25px;
    font-weight: 70;
}

.insuranceBanner{
    background-image: url(./images/Screen\ Shot\ 2022-05-24\ at\ 2.55.30\ PM.jpg);
    background-size: cover;
    background-position: center center;
    height: 80vh;
    width: 100%;
    position:relative;

}


.insuranceBannerCard{
    background-color: #fff;
    top: 80px;
    height: 55vh;
    width: 40%;
    position: relative;
    margin-left: 150px;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.insuranceBannerCard h2{
    padding-top: 30px;
    font-size: 30px;
    color:#000;
    text-align:center;
    padding-left: 25px;
    padding-right: 25px;
    font-weight: 70;
}

.insuranceBannerCard p{
    padding-top: 30px;
    font-size: 20px;
    color:#000;
    text-align:center;
    padding-left: 35px;
    padding-right: 35px;
}

.quoteButton {
    margin-top: 35px;
    margin-bottom: 20px;
    background-color: #0076BE;
    color: white;
    height: 40px;
    border: none;
    width: 45%;
    border-radius: 25px;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.219);
    font-weight:bold;
    font-size: 18px;
}

.quoteButton:hover {
    background-color: #005C95;
}

.existingQuote {
    color:#0076BE;
    font-size: 12px;
}

.existingQuote:hover {
    text-decoration: underline;
}

.insuranceContents {
    width: 100%;
    height:800px;
    position: relative;
    background: #f4f7fd;
}

.insuranceCards {
    margin: 0 auto;
    max-width: 1180px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.insuranceCard{
    background-color: #fff;
    top: 0px;
    height: 100vh;
    width: 90%;
    position: relative;
    margin: auto ;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.insuranceCard h2{
    padding-top: 25px;
    padding-bottom: 20px;
    font-size: 30px;
    color:#000;
    text-align:center;
    padding-left: 25px;
    padding-right: 25px;
    font-weight: 70;
}

.selectQuoteButton {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #0076BE;
    color: white;
    height: 40px;
    border: none;
    width: 45%;
    border-radius: 25px;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.219);
    font-weight:bold;
    font-size: 18px;
}

.selectQuoteButton:hover {
    background-color: #005C95;
}

.documentLink {
    color:#0076BE;
    font-size: 12px;
}

.documentLink:hover {
    text-decoration: underline;
}

.detailsBannerContents {
    width: 100%;
    height:100px;
    position: relative;
    background: #f4f7fd;
}

.detailsBannerCards {
    margin: 0 auto;
    max-width: 950px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 0px;
    padding-top: 40px;
}

.detailsBannerCard{
    background-color: #fff;
    top: 0px;
    height: 6vh;
    width: 100%;
    position: relative;
    margin: auto ;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.detailsBannerCard h2{
    padding-top: 12px;
    font-size: 12px;
    color:#000;
    text-align:center;
    padding-left: 25px;
    padding-right: 25px;
    font-weight: 70;
}

.detailsBannerCard h1 {
    padding-top: 10px;
    font-size: 15px;
    font-weight: bold;
    color: #0076BE;
}

.dash {
    padding-top: 10px;
}

.detailsContents {
    width: 100%;
    height:1250px;
    position: relative;
    background: #f4f7fd;
}

.detailsCards {
    margin: 0 auto;
    max-width: 1180px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    padding-top: 30px;
}

.detailsCard{
    background-color: #fff;
    top: 0px;
    height: 50vh;
    width: 90%;
    position: relative;
    margin: auto ;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.detailsCard h2{
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 30px;
    color:#000;
    text-align:left;
    padding-left: 50px;
    font-weight: 70;
}
.detailsCard form span {
    display: block;
    margin-bottom: 40px;
}

.detailsCard form span input{
    float: right;
    margin-right: 50px;
    border-radius: 25px;
    height: 40px;
    width: 25%;
    border-width: 0.5px;
    border-color: #000;
    text-indent: 10px;
}

.detailsCard form span label{
    float: left;
    text-align:left;
    margin-left: 50px;
    font-size: large;
}

#business_no{
    width: 8%;
    margin-left: 0;
    margin-right: 145px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-left-width: 0;
    text-indent: 0px;

}

#business_yes{
    width: 8%;
    margin-right: 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    text-indent: 0px;

}

.detailsCard form span input[type="text"]{
    text-indent: 20px;
}

.detailsCard form span input[type="date"]{
    color: grey;
    font-family:'Poppins';
}

.detailsCard form span input[type="button"]{
    background-color: white;
    color: grey;
}

.detailsCard form span input[type="button"]:focus{
    background-color: #0076BE;
    color: #fff;
}



.detailsCard2{
    background-color: #fff;
    top: 30px;
    height: 90vh;
    width: 90%;
    position: relative;
    margin: auto ;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.detailsCard2 h2{
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 30px;
    color:#000;
    text-align:left;
    padding-left: 50px;
    font-weight: 70;
}

.detailsCard2 form span {
    display: block;
    margin-bottom: 50px;
}

.detailsCard2 form span input{
    float: right;
    margin-right: 50px;
    border-radius: 25px;
    height: 40px;
    width: 25%;
    border-width: 0.5px;
    border-color: #000;
    text-indent: 10px;
}


.detailsCard2 form span label{
    float: left;
    text-align:left;
    margin-left: 50px;
    font-size: large;
}

.detailsCard2 form span select{
    float: right;
    margin-right: 50px;
    width: 25%;
    border-radius: 25px;
    height: 40px;
    text-indent: 15px;
    color: grey;
}


#breakdown_no{
    width: 8%;
    margin-left: 0;
    margin-right: 145px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-left-width: 0;
    text-indent: 0px;
}

#breakdown_yes{
    width: 8%;
    margin-right: 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    text-indent: 0px;
}


#accients_no{
    width: 8%;
    margin-left: 0;
    margin-right: 145px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-left-width: 0;
    text-indent: 0px;
}

#accients_yes{
    width: 8%;
    margin-right: 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    text-indent: 0px;
}

.detailsCard2 form span input[type="text"]{
    text-indent: 20px;
}

.detailsCard2 form span input[type="date"]{
    color: grey;
    font-family:'Poppins';
}

.detailsCard2 form span input[type="button"]{
    background-color: white;
    color: grey;
}

.detailsCard2 form span input[type="button"]:focus{
    background-color: #0076BE;
    color: #fff;
}

.addDriverButton {
    margin-top: 20px;
    margin-bottom: 0;
    background-color: white;
    color: #0076BE;
    border-width: 1px;
    border-color: #0076BE;
    height: 40px;
    width: 20%;
    border-radius: 25px;
    font-size: 18px;
    margin-right: 750px;
}

.addDriverButton:hover {
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.219);
}

.saveDraftButton {
    margin-top: 80px;
    margin-bottom: 0;
    background-color: white;
    color: #0076BE;
    border-width: 1px;
    border-color: #0076BE;
    height: 40px;
    width: 15%;
    border-radius: 25px;
    font-size: 18px;
    float: left;
    margin-left: 190px;
}

.saveDraftButton:hover {
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.219);
}

.continueQuoteButton {
    margin-top: 80px;
    margin-bottom: 0;
    background-color: #0076BE;
    color: white;
    border: none;
    height: 40px;
    width: 15%;
    border-radius: 25px;
    font-weight:bold;
    font-size: 18px;
    float: right;
    margin-right: 190px;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.219);
}

.continueQuoteButton:hover {
    background-color: #005C95;
}



@media (min-width: 860px){
    .hamburger{
        display: none;
    }
}

@media (max-width: 860px) {
    .tiles {
        grid-template-columns: repeat(1, 1fr);
    }
    .banner h2 {
        padding-top: 30%;
        font-size:300%;
        padding-left: 50px;
    }

    nav a{
        visibility:hidden;
    }
    
    .logo a{
        font-size:150%;
        display: none;
    }

}

@media (max-width: 725px){
    .logo a{
        font-size:100%;
    }
}
